[2017-05-15 04:45] tibkiss opened #1 "Merge RealtimeClock to live"

[2017-05-15 04:48] tibkiss opened #2 "Enable Travis-CI for 'live' branch"
In order to have CI for the project an admin needs to:
 * Sign up for Travis using zipline-live (done)
 * Enable builds for branch 'live' in Travis

[2017-05-15 04:52] tibkiss opened #3 "Enable coveralls for 'live' repo"
In order to have test coverage for the project an admin needs to:

Sign up for coveralls using zipline-live (done)
Enable builds for branch 'live' in coveralls

[2017-05-15 04:54] tibkiss opened #4 "Split up TWSConnection to Broker & IBBroker"
Per @pbharrin 's design the TWSConnection should be split up into two parts:
 * Broker which is broker agnostic interface needed to enable live trading
 * IBBroker which implements the Broker's interfaces to bridge between TWS and Zipline

[2017-05-15 13:37] pbharrin commented on #3
https://coveralls.io/github/zipline-live/zipline

[2017-05-15 17:01] pbharrin commented on #2
https://travis-ci.org/zipline-live/zipline

[2017-05-16 03:56] tibkiss commented on #1
Done with https://github.com/zipline-live/zipline/pull/5

[2017-05-16 03:56] #1 closed

[2017-05-16 03:57] tibkiss commented on #2
This is working fine now, closing.

[2017-05-16 03:57] #2 closed

[2017-05-16 03:57] tibkiss commented on #3
Thanks for enabling, works fine!

[2017-05-16 03:57] #3 closed

[2017-05-16 04:11] tibkiss opened #6 "Create state for live execution"
In backtest and Quantopian real trading the algo's `initialize` method called only once: at the beginning of the execution.
It is required that live trading does not diverge from backtest with regards of execution (i.e. initialize is called only once).
It is also important to implement a robust live trading base which survives network outages & restarts.

Therefore state must be introduced to live

[2017-05-16 04:21] tibkiss opened #7 "Live order routing to Broker"
In case of live execution the orders shall be routed to a real broker (e.g. IB) through the BrokerClient class.

It needs to be evaluated where is the best to put this logic into:
 * `TradingAlgorithmLive` class or (based on `TradingAlgorithm`)
 * `BlotterLive` class (based on `Blotter`)

Once the place is identified the wiring between BrokerClient and Zipline should be implemented.

**Depends on:

[2017-05-16 04:30] tibkiss opened #8 "Live data support in DataPortal"
A Zipline algo accesses historical and realtime data through DataPortal (via `data.current` property in `handle_data()`). This property calls DataPortal.get_spot_value() DataPortal.get_adjusted_value()
to get the latest prices.

In live trading we'd like to get the latest data from the Broker, therefore a DataPortalLive class shall be created (based on DataPortal), which reaches out the BrokerClie

[2017-05-16 04:40] tibkiss opened #9 "Command line parameter handling for live trading"
We need to be able to instruct zipline to do live trading using command line arguments.

On the command line the user should be able to define TWS Connection URI (host:port:client_id).
The `start`, `end` date shall not be defined by user (both must be set by zipline to today), `data-frequency` shall not be defined by user (must be set to 'minute' by zipline).
Optionally a live trading state filena

[2017-05-16 22:22] pbharrin commented on #6
https://docs.python.org/3.4/library/pickle.html

[2017-05-16 23:50] pbharrin commented on #6
I can take this, it is a simple task but it requires a number of classes to be added.

[2017-05-17 04:53] tibkiss commented on #6
Thanks for taking this!

Besides algo's 'context' field we need to consider to include portfolio related items in this state
as not all the required fields could be derived from IB's API:
 * zipline.protocol.Positions: `last_sale_price` and `last_sale_date`
 * zipline.protocol.Portfolio: `starting_cash`, `start_date`
 * The generic stats (`perf` result of TradingAlgorithm) might be also helpful to

[2017-05-17 14:46] tibkiss commented on #4
Delivered with https://github.com/zipline-live/zipline/pull/10

[2017-05-17 14:46] #4 closed

[2017-05-20 15:16] bartosh opened #13 "Can we use master branch?"
Hi,

I'd propose to use 'master' branch instead of 'live' for the following reasons:
- it's default git branch and git checks it out when you do fresh repository clone
- we don't need to change branch in README.rst and .travis.yml
- we reducing possibility to conflict with upstream

Regards,
Ed

[2017-05-20 16:39] tibkiss commented on #13
Good idea! I'd suggest that we try to be in sync with upstream. How about rebasing every Sunday?

[2017-05-20 16:42] tibkiss commented on #9
Delivered with https://github.com/zipline-live/zipline/pull/11

[2017-05-20 16:42] #9 closed

[2017-05-20 17:39] bartosh commented on #13
I'd prefer to have master branch based on the latest release and devel branch based on upstream master. This way our users will be able to run stable code from master. We as a developer will be able to fight with the latest upstream code in devel if we want to :)

[2017-05-21 07:00] tibkiss commented on #13
I'm not sure I understand the concept here. If we have two branches (master / devel), then I suppose we'll be pushing to 'devel' first. Once we have a stable product we'll merge to master?

How is it any different than having a 'live' and 'master' (as of today)?

[2017-05-21 07:36] bartosh commented on #13
The concept is simple - master branch contains stable code based on the latest zipline release. devel branch(or "live" if you wish - it doesn't matter) contains unstable code and based on zipline master to isolate users from upstream and our own breakages. That's the main idea. We can discuss details further if main idea is acceptable.

[2017-05-21 07:42] bartosh commented on #13
Just found this detailed explanations of the similar model: http://nvie.com/posts/a-successful-git-branching-model/

[2017-05-21 17:15] bartosh opened #16 "live is broken?"
Hi,

PR 15 fails tests with below error. I suspect that this is caused by changes in 'live'. How come they've got merged if they're failing tests?

======================================================================
ERROR: test_panel_data_0_daily (tests.test_algorithm.TestPanelData)
----------------------------------------------------------------------
Traceback (most recent call last):
  File

[2017-05-21 19:06] tibkiss commented on #16
Thanks for reporting, I have a fix for these issues. I'm just waiting for https://github.com/zipline-live/zipline/pull/12 to get merged as the fix will likely to be conflicting with that PR.

[2017-05-21 19:08] tibkiss commented on #13
Thanks for the explanation. What's still unclear to me is where are you planning to post the Live related PRs to: devel/live, master or both?

My point being is that our code is much more in alpha state at the moment. Using any devel version of zipline might be more stable than our trial on get live trading working.

[2017-05-21 20:52] bartosh commented on #16
#12 needs to be rebased on top of benchmark fix, I'm afraid. I think it's better to merge the fix, then fix tests in live branch. After that we can get back to this PR.

[2017-05-21 20:55] bartosh commented on #13
This makes sense to me. Let's keep using live until we have working and stable code.

[2017-05-22 15:37] tibkiss commented on #16
Create a PR which fixes the testcases: https://github.com/zipline-live/zipline/pull/17

[2017-05-22 15:54] bartosh commented on #16
I thought it's not possible to fix travis and AppVeyor builds without merging PR #15. Are you going to merge it anytime soon?

[2017-05-22 16:51] tibkiss commented on #16
I misunderstood your comment: thought you are suggesting that we shall merge the testcase fix first. Re-reading it clarified the intent.

I cannot merge #12 as it is in conflict state. Please resolve the conflict then I'll merge it ASAP.

[2017-05-22 17:23] bartosh commented on #16
Sorry for this confusion. Correct order of merging is: #15, #17, #12.  I'll rebase #12 as soon as both tests suites are 'green'.

[2017-05-22 17:52] tibkiss commented on #16
Thanks for the clarification. Merged #15, will fix #17 soon, then we can proceed with #12.

[2017-05-23 21:56] pbharrin commented on #6
I have the logic for this working, however not everything can be serialized with Pickle.  When I try to pickle the context I get the following error:
TypeError: can't pickle LRU objects
[LRU refers to this external data structure](https://pypi.python.org/pypi/lru-dict/).

[2017-05-24 23:47] pbharrin commented on #6
TradingCalendar's _minute_to_session_label_cache attribute is of type LRU:
https://github.com/zipline-live/zipline/blob/live/zipline/utils/calendars/trading_calendar.py#L110

[2017-05-25 04:52] tibkiss commented on #6
@pbharrin : I would not pickle cache objects, logic should be there to (re-)load the missing values.

[2017-05-25 21:57] pbharrin commented on #6
I have the first version of this working, just need a few details figured out.
I think this should be a command line option, so a user can specify where to store the file.
What should be the default behavior if no filename is specified?  Not store the state?  Store it in a default filename?

[2017-05-26 05:44] tibkiss commented on #6
I'd opt for always storing the state to a file, whose filename is generated using application's daily the start time.

That way we will accumulate more files over time but it would help debugging features.

What do you think?

[2017-05-26 07:14] tibkiss commented on #16
I believe this could be closed now.

[2017-05-26 07:14] #16 closed

[2017-05-26 14:50] tibkiss commented on #7
Delivered with https://github.com/zipline-live/zipline/pull/20

[2017-05-26 14:50] #7 closed

[2017-05-29 07:36] bartosh commented on #6
Can we make this feature optional?

[2017-05-30 04:53] tibkiss commented on #6
How do you imagine this being optional?

We cannot call initialize on every start (i.e. daily), because that's not how Q's live trading works....
Something I miss here?

[2017-05-30 08:02] bartosh commented on #6
Frankly speaking I consider saving state as an unneeded complication. We already have state - it's broker account state (available cash, open orders, etc). Inventing another one will just complicate implementation. You seem to have another opinion, hence I decided to at least make this optional.

[2017-06-01 04:49] tibkiss commented on #6
I don't think state (i.e. `context` variable) can be derived from broker data.
What a broker provides is positions (in their representation) and account info, whereas
`context` stores all kind of user specified variables. Even the simplest algorithms (buy_and_hold) makes use of context.

As I would like to run algorithms (which are running on Quantopian Backtest and Live) without any modification

[2017-06-01 06:28] tibkiss opened #26 "Continuous ingestion of realtime data from live brokers"
Zipline-Live will support live data feed from Brokers. To match with Quantopian's
original design the algorithms will access the live feed through `data.current()`.

As it is important to have reproducible runs for the algorithms it would be beneficial
to store (or continuously ingest) the live feed. Data is precious.

Live feed storage should be transparent to the algo and broker agnostic.

[2017-06-02 20:09] tibkiss commented on #13
Done with https://github.com/zipline-live/zipline/pull/27

[2017-06-02 20:09] #13 closed

[2017-06-11 01:30] mellertson commented on #6
Hello all!

In regards to the "saving state" conversation, before using Zipline I used QuantConnect (a competitor). The servers were upgraded regularly, and when they were, the system shutdown any running algos. Depending on how the algos were programmed, some needed their "state" to be saved before shutting the algo down. Otherwise they needed to go through a "warm up" period before they could li

[2017-06-11 01:36] mellertson commented on #8
I wrote a stock prediction system, which acts as a data provider to a Quantopian algo. The challenge I ran into is, I couldn't find a way to get my data (from an external system) into Quantopian, during live trading. Basically, my stock prediction system acts as a "signal" generator to Quantopian, telling the algo when and what to buy and sell.

It seems like the DataPortal class could be used to

[2017-06-11 12:51] bartosh commented on #8
Hi Mike

an external system) into Quantopian, during live trading.
You can use fetch_csv for that. In live trading mode it's run every day
before open: https://www.quantopian.com/posts/fetch-csv-during-live-trading

Regards,
Ed

2017-06-11 4:36 GMT+03:00 Mike Ellertson <notifications@github.com>:

--
BR,
Ed

[2017-06-13 03:34] mellertson commented on #8
Thanks Ed. I actually already implemented a few algorithms using
fetch_csv(). It works well if the trading algorithm only needs one
"buy/sell" signal per day. But, the system I've developed can send a
"buy/sell" signal a few times a day, so I was looking for a solution to
fetch buy/sell signals from an external source throughout the trading day.

I thought about making a web-services call in the h

[2017-06-13 08:27] bartosh commented on #8
Hi Mike,

guess is

As far as I know Quantopian doesn't allow any requests to external
resources except of fetch_csv.
All Python APIs and modules that can potentially request data from outside
are blocked:
https://www.quantopian.com/help#ide-module-import

Regards,
Ed

2017-06-13 6:34 GMT+03:00 Mike Ellertson <notifications@github.com>:

--
BR,
Ed

[2017-06-17 05:23] tibkiss commented on #8
Delivered with https://github.com/zipline-live/zipline/pull/28

[2017-06-17 05:23] #8 closed

[2017-06-23 05:06] tibkiss opened #31 "Fix coverage / build status links in README.md"
Currently the README.rst points to the live branch on master.
I'm not able to fix it by myself as I have no access to the appveyor project.

[2017-08-20 17:07] bartosh commented on #31
I don't have access to it too.

[2017-08-21 11:50] pbharrin opened #40 "Enable Pipeline in live trading (daily)"
Pipeline is one of the key components to Zipline, allowing calculations to be done over thousands of equities.  (The current universe of North American equities available on Quantopian is over 8000.)  However there is not a yet a working version of Pipeline in zipline-live.

The initial testing of zipline-live is done with Interactive Brokers as the broker.  Receiving live updates of 8k+ tickers f

[2017-08-21 20:13] fredfortier commented on #40
If you are trading equities, why do you feel the need for evaluating exchange specific data in Pipeline? Are you interested by price differences between exchanges for a given security? Or, are you trying to include equities not currently in the quantopian-quandl bundle?

[2017-08-22 09:54] pbharrin commented on #40
I am not looking to do anything across exchanges, the reason for pulling a listing of the tickers on a given exchange would be to ensure that the data (new symbols and delisting) stays up to date.  I would like to trade other equities that are not in the quantopian-quandl bundle such as the LSE.

Your question raises a good point: do we need to do ANY coding or could we just take the quantopian-qu

[2017-08-22 17:46] alphaville76 opened #42 "Enable Fundamentals data support [enhancement]"
I know, that you already planned to support fundamentals data.

I just wanted to point your attention to a small project I started sometime ago to provide fundamentals data support to zipline: https://github.com/alphaville76/Fundamentals

I'd also like to help in implementing this feature, in zipline-live: let me know, how I could help.

Last but not least: An important question is how to feed the

[2017-08-22 18:10] fredfortier commented on #40
From my perspective as a trader, I'm fine with using the quantopian-quandl bundle to narrow down my universe. Before initiating a trade, I use the DataPortal methods (presumably routed to IB in zipline-live) to obtain the most up-to-date data about the targeted securities.

Consequently, insofar as I'm comfortable with the number of equities included in the quantopian-quandl, Pipeline should just

[2017-08-22 20:19] fredfortier commented on #26
Here is how I attempted to implement this in a separate project.

During the live algorithm initialization,  I created minutes writer and reader objects and assigned them to the broker:
[code]

Then in get_spot_value(), I do something like this:
[code]

Here is the issue: the data seems to be written correctly but `self.minute_reader.get_value` comes out empty. I did not have time to troubleshoot

[2017-08-22 21:37] bartosh commented on #42
I have a code that ingests fundamental data into the bundle from csv files in a format name,date,value

I can share it if the approach makes sense.

[2017-08-22 22:35] vprelovac commented on #42
I have contacted Morningstar for a quote and will report back on the findings.

[2017-08-23 02:29] starforever opened #43 "Robinhood integration"
Dear Zipline Maintainers,

Is there any plan to support live trading on Robinhood? Any ideas on the difficulty of implementing this on top of the current code base?

Sincerely,
Peichao

[2017-08-23 06:00] tibkiss commented on #31
This has been done with https://github.com/zipline-live/zipline/pull/39

[2017-08-23 06:00] #31 closed

[2017-08-23 06:13] tibkiss commented on #42
@alphaville76 : Your work on fundamental looks really nice, thanks for sharing!

In order to not to deviate too much from Q's interface I'd propose that we provide a pipeline-aware interface: similar to USEquityPricing or morningstar package at Q.

The UsEquityPricing & UsEquityPricingLoader classes could be taken as an example for this workitem.

Do you guys agree to this approach?

[2017-08-23 06:19] tibkiss commented on #43
Hi Peichao,

Robinhood is a logical next step as brokerage support for us, but
as of now no-one has volunteered to pick this work item up.

I cannot assess the difficulty of integration as I haven't seen the RH API yet.
All that needs to be done is a class which implements Broker abstract class's methods:
https://github.com/zipline-live/zipline/blob/master/zipline/gens/brokers/broker.py

You can t

[2017-08-23 06:28] tibkiss opened #44 "Populate account, portfolio & position related fields in IB Broker"
Currently there are a couple of fields are set to None at account, portfolio & position variables:
https://github.com/zipline-live/zipline/blob/d7f0cff4fa322a72cb4a80208585739d2d2d73a2/zipline/gens/brokers/ib_broker.py#L377-L443

Some of the values are dependent on state persistence, while others could be deducted from IB's reporting.

This issue is to implement others, which are not dependent on

[2017-08-23 07:37] alphaville76 commented on #42
I agree, we should deviate from the original Q's interface as less as possible.

Give a look to https://github.com/alphaville76/Fundamentals/blob/master/query_data.py
It's exaclty the same API like Q's get_fundamentals, even for the field names.

I could not use Morningstar as datasource, but I mapped the data from SHARADAR_SF1 (https://www.quandl.com/data/SF1-Core-US-Fundamentals-Data) to the Mor

[2017-08-23 07:50] alphaville76 commented on #42
Some other information:

- Actually the backend for the data is a relational DB like mysql or sqlite (see https://github.com/alphaville76/Fundamentals/blob/master/core/dao.py, db_session()). You don't have to import the schema, it will be created by sqlalchemy
- Of course, because of licensing issue, I could not commit the data from Quandl SF1. For testing purpose I will push to the git repo some

[2017-08-23 08:24] alphaville76 commented on #42
@vprelovac Very good! To continue using Mornigstar it the best thing for a lot of reason!

[2017-08-23 08:50] bartosh commented on #42
Here is my code that i mentioned yesterday: https://github.com/bartosh/zipline/commits/fundamentals

The approach is quite generic as the data is loaded from simply structured cvs files and ingested into the bundle. The data can be used in Pipeline.

[2017-08-23 10:45] alphaville76 commented on #42
Well, we already have a basis to implement both the get_fundamentals and Pipeline API!

@bartosh Where did you get the fundamentals data to ingest?
It's important to consider that the datasource must also contains delisted companies to avoid survivor bias and the data should not be restated.

[2017-08-23 11:52] bartosh commented on #42
@alphaville76 I used set of fundamental datasets from quandl.

However, I don't think we should be attached to any data provider. That's why i used very simple data structure: cvs files with only 3 fields: name, date, value. Almost anything can be easily converted to this format. This approach would save us a lot of time if we choose to use it. Instead of developing support for multiple data provi

[2017-08-23 15:42] danielfppps opened #45 "Error placing order: ZiplineLog: Cannot place order for A, as it has de-listed. Any existing positions for this asset will be liquidated on 2017-"
Hi Guys,

I want to live-trade through IB but it seems that the way zipline is designed it does not allow me to enter orders for symbols for which I do not have a live-data feed coming in. If I try to do this then it complains about the symbol being "de-listed" and no "last price" being available.

If I don't have a data subscription I still see no reason why I couldn't enter market orders for wha

[2017-08-23 15:42] rtntdeck commented on #6
Given Quantopian's announcement yesterday regarding live trading, I came here. I'm glad there will be a mechanism for continuing to live trade.

This particular issue of state and the context variable(s) has become an area of great interest to me over the last week as I worked through some of Q's live paper trading nuances.  Specifically the divergence between what is displayed as "Positions" and

[2017-08-23 16:17] tibkiss commented on #45
I've faced this annoyance myself, the reason behind is that your bundle might not contain the symbol you are trying to trade. Could you please share which symbol was it?

I have worked around this issue by creating a custom data loader (using google finance), ingested the symbols of interest, then used that bundle.

[2017-08-23 16:23] tibkiss commented on #6
@rtntdeck : Most of the broker provided info is already populated through context.portfolio:
https://github.com/zipline-live/zipline/blob/d7f0cff4fa322a72cb4a80208585739d2d2d73a2/zipline/gens/brokers/ib_broker.py#L377-L443

Unfortunately you cannot load all the trades using IB API, only the active positions are presented.

[2017-08-23 17:00] rtntdeck commented on #6
@tibkiss that is good news. Thank you for the follow up and contributions.

[2017-08-23 17:15] fredfortier commented on #6
@tibkiss I'd like to at least float the idea of a logical data separation. While instantiating Portfolio from the broker data simplifies state management, it also binds the brokerage account to a single algorithm. This may be a better approach overall. However, it forces users to create an account partition per algorithm. I believe that this is hard to do with some brokers (e.g. RobinHood).

Here

[2017-08-23 17:52] danielfppps commented on #45
I was trying to trade MDY, which is not part of the quandl/quantopian bundle. I tried to do the same thing - add the symbol through google finance - but this does not work well as the data is not constantly updated and the program will complain about the symbol being "delisted" when attempting to live trade.

[2017-08-23 19:14] tibkiss commented on #45
@danielfppps : I'd suggest that you try the following:
every day you start your google ingestion at around 8AM, then start your algo.

For me it has resolved the delisted trading problem.
Please let us know how it works.

[2017-08-23 23:40] dag4202 opened #46 "Support for ETrade as a broker"
I imagine that etrade support is a long-shot. It would probably require a library to interact with their api.  The closest I've found is [pyetrade](https://github.com/jessecooper/pyetrade), but it seems to lack sufficient support/contributions and is a long way from being close to comprehensive. I plan to put some of my free time into supporting said library, but I was wondering if it was worth it

[2017-08-24 06:05] tibkiss commented on #46
pyetrade seems like something under active development, it is something worth to try.

Or you can make a try to pythonize ETrade's Java api through [Swig](http://www.swig.org/). That's how IbPy was created and worked out reasonably well.

[2017-08-24 06:21] tibkiss opened #47 "Improve error message at broker import"
The brokers are dynamically imported in zipline-live based on the value of --broker command line parameter. If a nonexistent broker is specified an error is presented to the user:
https://github.com/zipline-live/zipline/blob/0da196947e0271b2f46138e0f5efa44078726c9e/zipline/__main__.py#L240-L245

The following error is also presented if the broker is supported, but its dependencies are not present.

[2017-08-24 06:23] tibkiss opened #48 "Add command line option to list the available brokers"
As of today one needs to know the supported broker and it's respective name.
It would be helpful to add a command line argument which would list the available brokers (e.g. --broker-list).

[2017-08-24 06:37] tibkiss opened #49 "Trading guard testcases"
Contrary to what zipline-live's [feature page](http://www.zipline-live.io/features) states
order/trading guards are supported, but not tested:
`LiveTradingAlgorithm.order()` calls `TradingAlgorithm._calculate_order()`, which calls to `TradingAlgorithm.validate_order_params()` which finally enforces that the order meets the guards set by the user.

This effort is to prove that Trading Guards are wo

[2017-08-24 09:00] dag4202 commented on #46
Great suggestion! I'll dig deeper today to weigh out all the options and explore zipline-live's use of IbPy as a point of reference.

[2017-08-24 19:28] alphaville76 commented on #42
@bartosh and how do you pass the sid/ticker? Is it the file name? Could you provide some sample data to ingest?
And what about the naming to use the data in a Pipeline, for example what does morningstar.valuation_ratios.pe_ratio become using the Quandl dataset?

An useful approch could be the possibility to define alias for the field names, I'd like to run in zipline-live as much as possible the s

[2017-08-24 20:45] bartosh commented on #42
yes, ticker is a file name, e.g. JNJ.csv contains all available fundametal data for JNJ.

Here is an example of earnings/basic share and total assets data for JNJ. I took this data from example datasets on quandl.com
name,date,value
EPS_MRQ,2017-07-02,1.42
EPS_MRQ,2017-04-02,1.63
EPS_MRQ,2017-01-01,1.46
EPS_MRQ,2016-10-02,1.56
EPS_MRQ,2016-07-03,1.46
EPS_MRQ,2016-04-03,1.62
EPS_MRQ,2016-01-03,1.17

[2017-08-24 20:56] boneyalch opened #50 "Error installing zipline-live on Windows"
Hello Friends,

I've had a very hard time getting zipline-live to function based off of the tutorial on the site.
I've created a project in Spyder to get it going in Py 2.7.
I've properly set up my Trader Workstation settings and logged on, and set the ports correctly.

I've set the PYTHON PATH MANAGER to see the Zipline folder/files, the zipline-live folder, and in the python console the tutorial

[2017-08-24 22:13] alphaville76 commented on #42
I see, it's of course a meaningful approach for Pipeline but it makes difficult to use the same database to replicate the get_fundamentals SQLAlchemy API.

To leverage the power of SQLAlchemy my project's data model takes the field name as single column and the financial statement as table. Take a look at https://github.com/alphaville76/Fundamentals/blob/master/core/model.py

I know, in this way w

[2017-08-25 04:51] tibkiss commented on #50
The error indicates that you are still using Quantopian's zipline.

I recommend that you take out Spyder from the picture and follow the tutorial step by step.
Once it works then you can try to make it happen within Spyder.

Hope this helps,
Tibor

[2017-08-25 04:54] tibkiss commented on #45
@danielfppps : did the daily ingestion solved the problem?

[2017-08-25 05:23] tibkiss commented on #6
@fredfortier : I appreciate the idea, but I have two concerns:
1) It deviates from Q's original API. At Q the only source of truth is your broker. Q does not support multiple algos running agains the same account. Something what we don't enforce at the moment.
2) If you persist your position state and you make manual adjustments on your position size will result inconsistency. Handling such cases

[2017-08-25 05:29] tibkiss commented on #6
Quick update on this issue:
I have extended @pbharrin 's state persistence branch a while ago and managed to load / store the context successfully by introducing black-list of variables which shall not be pickled.

Last challenge was to persist & load the scheduled functions. That's something which is difficult due to the complexity of the scheduled functions. My current workaround is to extend th

[2017-08-25 07:04] bdowling commented on #43
I've been poking at the API and tweaking the module over here https://github.com/Jamonek/Robinhood that should make this effort fairly straightforward..

I will likely take a stab at this as I've been wanting this even before quantopian pulled out the welcome mat on us.  They had enough outages in live trading and general website availability that I figured I would want more control and redundanci

[2017-08-25 12:06] danielfppps commented on #45
Thanks for your help, sadly no. I finally decided against using zipline-live as the project overcomplicates things too much for my taste. For me it makes no sense to have to have all these issues with data ingestions, etc and not be able to simply say "BUY 5 shares of X at stock exchange Y". I moved to IBpy2 since it just makes more sense for my particular case. Thanks again for all the help thoug

[2017-08-25 13:18] boneyalch commented on #50
Hi Tibor,
Thank you very much for the response.
I'll start from the beginning in the tutorial, which doesn't seem to work on my system.

First line of tutorial:

virtualenv ~/venv-zipline-live

If I type that into mac terminal, (which I'm guessing is where the tutorial needs to take place)  I receiveL

Christophers-MacBook-Pro-3:~ OSC$  virtualenv ~/venv-zipline-live
-bash: virtualenv: command not

[2017-08-25 14:20] pbharrin commented on #6
@tibkiss yes, please take this over.

[2017-08-25 15:24] tibkiss commented on #43
@bdowling : Good catch! Feel free to assign this issue to yourself if you start working on it. Thanks for your contribution!

[2017-08-25 20:04] fredfortier commented on #6
I totally agree. I merely wanted to initiate the debate as I have a feeling
that it will be a concern as adoption picks up.

IMHO - Concern #2 is more of a feature than a bug. I don't believe that
users should be allowed to play god with their algorithm. Especially when
it's done by accident. For example, I once made a cash deposit to my
RobinHood which drastically skewed the performance statics o

[2017-08-25 20:08] tibkiss commented on #50
Your previous (now inaccessible -- not sure why) comment indicates that you don't have virtualenv installed. Please do a `pip install virtualenv`, then try out the steps from the tutorial.

If you need further assistance we're available at Slack (find the details on the contact page).

Hope this helps,
Tibor

[2017-08-26 20:38] eudisd opened #52 "Broker Not Found Error"
Dear Zipline Maintainers,
From the zipline-live.io tutorial:

Installation of zipline-live works fine.  Downloading the quandl bundle works fine as well.  However, when I try to run the zipline-live demo program, with the following command:

[code]

I get an error.

# Environment

* Operating System: `Darwin MacBook-Pro.local 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:

[2017-08-26 20:42] tibkiss commented on #52
Thanks for the detailed report.

For some reason IbPy2 is not installed in your environment.
`pip install zipline-live[ib]` should ensure that ibpy2 as a dependency is installed.

Please make a try to run `pip install IbPy2==0.8.0` inside your virtualenvironment.

Unfortunately the error message is not helpful here (unsupported broker), we have an issue
opened against that: https://github.com/zipl

[2017-08-26 20:48] eudisd commented on #52
That did it!  Thanks @tibkiss, this solved my problem.  I think the problem this issue should address now is why IbPy2 is not installed when zipline-live is installed?

[2017-08-26 20:55] tibkiss commented on #52
For others `pip install zipline-live[ib]` brings in IbPy2 as dependency, I'm not sure why did not bring it in for you. Could you please check and make sure you run that command?

In some shells (such as zsh) the zipline-live[ib] part should be quoted to properly pass the profile inside the braces: `pip install "zipline-live[ib]"`

[2017-08-26 21:05] eudisd commented on #52
yup thats it i believe.  i use zsh which caused the issue.  thanks for the help, closing this issue

[2017-08-26 21:05] #52 closed

[2017-08-27 21:11] alphaville76 commented on #42
Well, the get_fundamental API is now official deprecated on Quantopian:
https://www.quantopian.com/posts/faster-fundamental-data#59a1f4273cdcc8000dca608f

I think, we have to concentrate our effort only on the Pipeline API.

@bartosh In my opinion, you approach is fine. The only problem was the integration with get_fundamentals... but now this argument is gone. Could you merge your code or there i

[2017-08-28 07:58] bartosh commented on #42
@alphaville76 We still need to decide what would be the right way to go. My approach generalises data source, but it's quite verbose and requires additional code in the algorithm. Yours is bound to one data provider, but allows to use Q algos without modifications at least as far as I understood.

Can we come up with something that is not bound to M* or another provider and still allows to use unm

[2017-08-28 09:34] bartosh commented on #42
JFYI: Q are changing fundamentals API: https://www.quantopian.com/posts/faster-fundamental-data

[2017-08-28 17:53] tibkiss commented on #6
First public version is here: https://github.com/zipline-live/zipline/pull/53

Reviews are welcome!

[2017-08-29 11:35] tqzlin commented on #50
Hello,
I had an problem of a similarly superficial level as well as a lack of programming literacy. When I try to install zipline-live, I had an issue at the second line calling source

(C:\ProgramData\Anaconda2) C:\Users\q>virtualenv ~/venv-zipline-live
New python executable in C:\Users\Q~1\~\VENV-Z~1\Scripts\python.exe
Installing setuptools, pip, wheel...done.
(C:\ProgramData\Anaconda2) C:\Users

[2017-08-29 17:38] tibkiss commented on #45
Found the root cause of the issue, will post a PR with a fix soon.

[2017-08-29 18:55] tibkiss commented on #45
Associate PR is here: https://github.com/zipline-live/zipline/pull/55

[2017-08-30 05:28] tibkiss commented on #42
Sorry for not coming back earlier on this.

@alphaville76 : I was referring to morningstar's financial's webpage at quantopian: http://financials.morningstar.com/

To me compatibility is something really important. Extending beyond Q's capabilities is fine, but an algo taken from Q's website should work out of the box.

Can we achieve this by taking Ed's generalized CSV reader, and build the pipel

[2017-08-30 06:16] tibkiss commented on #50
The tutorial assumes that you are running the commands on Linux / Mac OS X.

I don't have a windows machine, therefore cannot provide a solution here.
What I'd suggest that you read through on anaconda's documentation and try to replace virtualenv with conda: https://conda.io/docs/user-guide/tasks/manage-environments.html

Something like this:
[code]

Please let us know how this works. Thanks!

[2017-08-30 08:58] alphaville76 commented on #42
@tibkiss Thanks for the reply. Also for me, it's compatibility very important, therefore as I wrote above we could abandon my get_fundamentals project because the API will be removed by Q in a month.

I agree to take Ed's generalized CSV reader and improve his approach.
@bartosh What has to be done, in order to avoid the additional code in the algorithm?

A big question remain the data. For exampl

[2017-08-30 13:26] tqzlin commented on #50
Your solution worked
I was using Anaconda prompt, which appears to creates its own Anaconda virtual environment using its python installation. After I activate the zipline-live environment, it deactivates the Anaconda environment and I lose my path to python.
When I added python to the windows path and executed your lines in command prompt, there was no issue

[2017-08-30 16:37] tibkiss commented on #50
@tqzlin : Glad it worked! Did you managed to connect to TWS too? Would be happy to hear any feedback on the demo algo too.

[2017-08-30 17:35] tqzlin commented on #50
Yes it connected to TWS, but apparently I lacked a data subscription for AAPL. I thought it would fall under _US Securities Snapshot and Futures Value Bundle_.
![terminal](https://user-images.githubusercontent.com/31439443/29886434-0d01aed0-8d88-11e7-949a-2aa83be630f9.png)
![data subs](https://user-images.githubusercontent.com/31439443/29886435-0d10bb32-8d88-11e7-9ddf-9bea35310d81.png)

[2017-08-30 17:54] eudisd commented on #50
By the way @tibkiss @tqzlin  I also got that 502 error when I ran my test last weekend.  Do you know if this means it's not connected correctly?  I only saw this issue when I tried zipline-live with IB Gateway.  When I ran it with TWS it does not show the 502 error.

[2017-08-30 17:55] eudisd commented on #50
My guess is that it's an API version issue?  But that wouldn't make sense since I downloaded the latest IB Gateway and also the latest TWS.

[2017-08-30 18:57] tqzlin commented on #50
The terminal log at http://www.zipline-live.io/tutorial also indicates the 504 error but still successfully prints security fields in handle_data, so I don't think 504 is an actual error. Could I ask what market data subscriptions you have?

[2017-08-30 19:03] eudisd commented on #50
Gotcha thanks for clearing that up @tqzlin.  I have the same subscriptions as the ones noted in the image above

[2017-08-30 19:07] tibkiss commented on #50
@tqzlin : I have the streaming bundle. That might explain.

There are two strange things in your output:
1) length of the (masked) managed accounts.
    Maybe you have more than one account listed there?
    zipline-live takes the first account from that list and uses that account id to extract the open positions.
2) 'Error validating request: -'ba'. I don't have this message either.

[2017-08-30 19:16] tibkiss commented on #6
Delivered with: https://github.com/zipline-live/zipline/pull/53

[2017-08-30 19:16] #6 closed

[2017-08-30 19:18] tibkiss commented on #45
@danielfppps : A new release has been pushed to pypi which contains fix for this issue. Are you giving us a second chance and try it?

[2017-08-30 19:22] danielfppps commented on #45
Thanks a lot for effort :) I needed to implement a quick move away from quantopian so I ended up coding all the systems I needed using ibpy2. However I'm sure people using zipline-live will greatly appreciate your efforts!

[2017-08-31 04:54] tibkiss commented on #45
Thanks @danielfppps , good luck for the ibpy2 endeaveurs :)

[2017-08-31 04:54] #45 closed

[2017-08-31 06:26] tibkiss commented on #42
Even though I recommended financials.morningstar, I don't think it is the best option.
I wasn't able to find a proper API for that site, people are accessing it through web scraping -which may broke if they change the page structure.

Regarding SF1:
It is really bad that they do not include delisted ones. Nonetheless for live trading it should be 'okay', as we'll be considering tradable stocks any

[2017-08-31 10:07] tibkiss opened #57 "Forward fill historical data's last field"
In zipline data.history() call's return value include today's value.
We currently return historical data from the bundle, which does not contain value for today.

Forward filling data using broker will cause execution delays for the first timestamp of the day:
as the first trade might not happen immediately at the beginning of the day.

[2017-08-31 15:17] pbharrin commented on #42
@alphaville76 Does Shardar_SF1 have any data for delisted stocks?  It seems from your comment that they don't have pricing (OHLCV), but we are interested in fundamental data not pricing.  Did I misunderstand your statement?  BTW, thanks for your help on fundamentals.

@tibkiss Morningstar doesn't even provide data downloads in .csv?

**<rant>**I actually don't like Q's approach of putting fundamen

[2017-08-31 21:20] alphaville76 commented on #42
Shardar_SF1 has "as reported" fundamentals data also for delisted stocks. The problem is getting the pricing (OHLCV) for symbols that don't exist anymore and thus perform a full backtest.

For example the gurufocus API provides both financial and pricing data, and also for delisted companies but unfortunatly the financial data are "restated". I wrote them, to know if the could extend their service

[2017-09-02 12:29] pbharrin commented on #42
@alphaville76 The quantopian-quandl bundle has pricing for delisted tickers.  In the past I have paid for the Zacks historical pricing data that also has delisted tickers.  (The problem with Zacks is that they don't tell you when dividends are paid.)   Can we not get the pricing data from the  quantopian-quandl bundle?

[2017-09-02 19:53] alphaville76 commented on #42
@pbharrin Maybe there are some delisted stocks, but I tried some tickers without success.
For example FABU (FAB Universal Corp, delisted from the Nasdaq in 2014): it had  3 other tickers in the  Shardar_SF1 (FU,WZD,WZE) but none of them is in the quantopian-quandl bundle.

The same for Yongye International Inc (YONG).

The Zacks  ZEP dataset (that costs $300 a quarter) has both:
https://www.quandl

[2017-09-15 17:36] TawehBeysolowII opened #58 "--state-file: what is this?"
Hello,

I was just curious as to what a state-file is and how do we create one if we do not have it? I am trying to live paper trade from the command line to test code for our production systems. I cannot find any documentation on the state file, however, and this is the only command that is causing an error thus far. Thank you!

[2017-09-15 17:44] tibkiss commented on #58
state-file is a file where the context variable's context is stored.
You can specify an arbitrary file in a writable directory as state file, then zipline-live will store the context state after initialize and every handle_data call. Next day if you restart your algo it will pick up the state from that file.

Sorry for the undocumented feature, we indeed need to update the webpage and tutorial to

[2017-09-15 17:55] TawehBeysolowII commented on #58
Tibkiss, thanki you for your prompt reply! As one last question, will the terminal display any logging information when its executing trades?

[2017-09-15 18:00] tibkiss commented on #58
if you set the log level to debug it will. as you joined slack I recommend to continue this discussion there.

[2017-09-15 18:00] #58 closed

[2017-09-20 05:36] tibkiss commented on #57
Fixed with #59 .

[2017-09-20 05:36] #57 closed

[2017-09-20 05:37] tibkiss commented on #50
Folks, could some of you create a tutorial on how to install zipline-live on Windows?
I personally don't have that OS and would be a great help if someone could provide working instructions for that platform.

[2017-09-22 05:15] tibkiss commented on #26
@fredfortier :  Thanks for sharing! For some reason I missed this post. Glad to see that you made progress. Do you have any update on this?

[2017-09-22 05:18] tibkiss commented on #26
I'm not exactly sure on this, but I suspect that you need to update the asset_db to advance the symbol's end_date after minutely ingestion.

[2017-09-22 07:44] fredfortier commented on #26
Yes, the code above seems to be working. If I recall correctly, the issue was with the calendar parameter. I'm trading an asset with a 24H schedule so I had to change it to OPEN. I don't personally use the asset_db, but may need some updates when trading equities as you are suggesting.

[2017-09-28 20:22] tqzlin commented on #50
Not sure what format or depth the tutorial should have, so I copied your webpage with minimal changes to the text =P.

I subscribed to the US Equity Options Add-on Streaming Bundle that you mentioned and am now able to successfully execute the demo algorithm.

[windows_install_zipline-live.zip](https://github.com/zipline-live/zipline/files/1342204/windows_install_zipline-live.zip)

[2017-10-02 17:57] Scapogo commented on #48
Hello,
 I can do that but what is your preferred level where this command should work? It should be zipline --broker-list or zipline run --broker-list?

[2017-10-02 20:12] tibkiss commented on #48
Thanks for your interest in this task.
I'd suggest to add it to run, it is bound to algo execution which is reachable through run.

[2017-10-06 06:43] tibkiss commented on #26
Continuous ingestion (i.e.: load data directly to the bundles) is not easily achievable:
zipline has a bundle reader and a writer, but there is no read-write bundle handler implemented yet.
Moreover, the reader uses caching which cannot be invalidated from outside.

Therefore I implemented a much simpler solution: collect the bars and dump out to csv at the end of the session. The collected realti

[2017-10-08 13:00] tibkiss opened #64 "Move realtime & historical data merge into MinuteBarReader"
Per Eddie Hebert's (zipline core dev) recommendation we should move the realtime & historical data combining logic (implemented in #62) int MinuteBarReader.

The reasoning and the new desing approach could be found here:
https://github.com/quantopian/zipline/pull/1963

[2017-10-11 19:25] tibkiss commented on #48
Thanks for the smooth delivery Jan!

[2017-10-11 19:25] #48 closed

[2017-11-01 06:24] tibkiss opened #67 "Create blotter for live trading"
Zipline uses blotter class to interface with backtesting or normal brokers.

Currently in zipline-live blotter is unused: TradingAlgorithm's respective calls are
overridden to reach out the broker directly. This approach prevents zipline to keep
track of positions in the performance report.
Additionally, if we want to run backtest & live trading at the same time (e.g.: to enable dynamic activation

[2017-11-01 06:27] tibkiss commented on #50
This issue has been resolved with: https://github.com/zipline-live/zipline-live.github.io/pull/10
Thanks Mohammed for the tutorial!

[2017-11-01 06:27] #50 closed

[2017-11-06 10:51] #44 closed

[2017-11-09 12:49] peterfabakker commented on #49
so these tests?

set_long_only() -> try to order a short: should fail
set_do_not_order_list([asset1, asset 2]) -> try order asset1 or asset 2: should fail
set_max_order_count(2): -> try order 1 time: success, 2 time success, 3 times fail
set_max_order_count(0): -> any order should fail
set_max_order_count(-1): -> any order should fail
set_max_order_size( max_shares=10) -> any order with more then

[2017-11-09 12:51] peterfabakker commented on #49
Do set_max_order_size, set_max_position_size, set_max_order_size need a short version?

[2017-11-09 12:59] peterfabakker commented on #47
so how can you know whether the ib_broker file is not there or the dependencies are not there? you want to execute a file exist check, read all imports in the beginning if the file is there and try to import the dependencies in the broker file?

[2017-11-11 06:54] tibkiss commented on #49
I think the proposed tests are all valid. Short version would also make sense.

[2017-11-11 06:58] tibkiss commented on #47
I think we can simply catch ImportError, and then check if the module exists (via pkgutil, to avoid external dependencies) we can print an error about missing dependencies.

you can find usage of pkgutil in here: https://github.com/zipline-live/zipline/pull/63/files

[2017-11-16 01:08] peterfabakker opened #74 "Frontend to monitor algorithms"
It would be great to have a basic front-end to monitor the algorithms like Q has. Big project but worth it I think

[2017-11-16 01:10] peterfabakker opened #75 "hardcoded 8.45 before_trading_starts"
the before_trading_starts needs to listen to the calendar which is used. The only problem is what to do with exchanges that are open 24/7, the before_trading_starts gets only ran once at startup

[2017-11-16 01:11] peterfabakker opened #76 "hardcoded USD"
USD is hardcoded in several places. That needs to be configurable. Whether it needs to be a property of the exchange or asset or algo I'm not sure

[2017-11-16 05:15] niucool commented on #74
This is a very important feature I'm missing right now.

[2017-11-16 13:45] VitalyErmilov opened #77 "zipline fails to ingest data from quandl WIKI"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Ubuntu 16.04
* Python Version: 2.7

* How did you install Zipline:  pip
* Python packages:
alembic==0.9.6
bcolz==0.12.1
Bottleneck==1.2.1
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
contextlib2==0.5.5
cyordereddict==1.0.0
Cython==0.27.1
decorator==4.1.2
empyrical==0.3

[2017-11-16 23:08] bir commented on #77
Please see this PR on Zipline main.

https://github.com/quantopian/zipline/pull/1913

[2017-11-17 10:52] VitalyErmilov commented on #77
Bir, thank you!

[2017-11-19 20:51] VitalyErmilov opened #78 "data.current() does not work for compounded stock symbols"
Dear Zipline Maintainers,
 I've found that the function data.current() doesn't work now for  so called  fuzzy symbols (symbols that consist of two parts), such as BRK B   (Berkshire Hathaway B).

I think the problem is that the way fuzzy symbols are presented now in securities database is incompatible with interactive brokers' smart search. So when we try to get market data for a fuzzy symbol, sma

[2017-11-20 17:38] VitalyErmilov commented on #78
So, the аsset's field 'symbol' contаins now quаndl's database code which uses delimiter '_' for compounded tickers, while we should hаve а blаnk space instead.
Here is the link to ib knowledge bаse section concerning to the issue :
[https://ibkr.info/node/462](url)

[2017-11-25 10:25] tibkiss commented on #78
Thanks for reporting this issue.

Generic way of solving this issue would be to replace underscore to space (in case of IB), here:
https://github.com/zipline-live/zipline/blob/master/zipline/gens/brokers/ib_broker.py#L640
Care should be taken to handle all the cases where `contract.m_symbol` is used, otherwise order & position status would be negative affected.

A less generic way would be to buil

[2017-11-25 10:28] tibkiss commented on #75
Might be helpful to check this thread: https://github.com/quantopian/zipline/issues/2018

[2017-11-25 10:29] tibkiss commented on #67
Delivered with #70

[2017-11-25 10:29] #67 closed

[2017-11-25 12:08] VitalyErmilov commented on #78
@tibkiss I've made a workaround by replacing underscores to spaces on the stage of data ingestion by modifying quandl.py. This tells that replacement method does work .
The first thing I tried was to make it in ib_broker.py  because it's a broker specific code. But It seems to me that I didn't  handle all the cases, so I couldn't get the preferable approach working.
I will make another try to do t

[2017-12-07 09:04] w2fong opened #82 "AttributeError: 'Index' object has no attribute 'tz_localize'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Linux ip-10-0-3-162 4.9.62-21.56.amzn1.x86_64 #1 SMP Thu Nov 16 05:37:08 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* Python Version: Python 2.7.12
* Python Bitness: 64
* How did you install Zipline: pip install zipline-live[ib]
* Python packages: pip freeze
alembic==0.9.6

[2017-12-07 09:49] w2fong commented on #82
Seems like the data returned by 'google' was messed up.  I switched to 'yahoo' and it worked.

The same file:
"/home/ec2-user/workspace/zEnv/local/lib64/python2.7/site-packages/zipline/data/benchmarks.py"

Changed:
    #df = web.DataReader(symbol, 'google', start_date, end_date)
    df = web.DataReader(symbol, 'yahoo', start_date, end_date)

[2017-12-08 07:34] tibkiss commented on #82
Thanks for reporting this issue.
The root cause is a recent API change at google, which is not handled well in pandas-datareader.

As you noticed wwitching from google to yahoo solves this problem.
Other solution is to use a newer version of pandas-datareader. This version worked for me:
https://github.com/tibkiss/pandas-datareader/tree/5ed89c5976b631485910c64e4f52b5fe51a403e3

[2017-12-23 07:18] tibkiss opened #84 "persistent perf_tracker"
Zipline's one key feature is the ability to store the backtest result.
Later, the result could be feed into pyfolio for analysis.

Currently zipline-live does not provide such capability due to it's execution model:
start at BOD, exit at EOD. Due to the daily start the perf tracker object always tracks one
day.

To address this shortcoming the perf_tracker object needs to be persisted and updated

[2017-12-23 13:17] peterfabakker commented on #74
It's progressing. Now Tibor has done the perf_object I can progress it further. At one point I'll need some support in CSS to make it more pretty

[2017-12-27 16:57] madderle commented on #43
@bdowling have you worked on integrating Robinhood yet?

[2017-12-27 16:58] madderle commented on #43
@tibkiss can you elaborate more on if a new rh_broker.py file is creted, how does it get instantiated?

[2017-12-27 17:06] tibkiss commented on #43
@madderle: It is instantiated here: https://github.com/zipline-live/zipline/blob/master/zipline/__main__.py#L287

Please note that @rigoorozco has get this very close to completion:
https://github.com/zipline-live/zipline/pull/79
Unfortunately the underlying lib needs further massaging.

Feel free to join our slack channel (available at contacts page in https://zipline-live.io) for more quick turn

[2017-12-27 17:34] tibkiss opened #87 "Support FA accounts in IB Broker"
Interactive Brokers provides 'Financial Advisor' (FA) accounts, which groups multiple accounts together. These accounts currently are not supported by zipline-live.

The support could be easily achieved by:
1) extending broker-uri with an _optional_ account code. e.g.: --broker-uri localhost:7492:111:*DU32145*
2) store the specified account code in IBBroker's constructor (if specified)
3) set the

[2018-01-06 08:30] bdowling commented on #43
I was doing some work on the Robinhood module before circling back to this.  I also tried to look at #79, but it appears @rigoorozco has abandoned that PR and removed his commits entirely.  Would be nice to collaborate on this if you already have something @rigoorozco ...

[2018-01-09 21:16] rigoorozco commented on #43
@bdowling there is now a zipline-live fork for the Robinhood API made by Jamonek. I made a pull request to with some changes that @tibkiss requested, which still need to be reviewed. I am working on adding the Robinhood broker class with the modified Robinhood API. I should have them done soon

[2018-01-17 07:37] llllllllll opened #91 "proposal to change risk metric calculation in upstream"
Hey zipline-live developers,

I am currently working on a change to how we compute risk metrics which may have an impact on the format of the perf packets and risk packet. I wrote up a small post about the proposed change which I posted to the mailing list [here](https://groups.google.com/forum/#!topic/zipline/W8EkYCuKm9Q). I am looking for feedback from the community.

Some things that I think mi

[2018-01-21 03:54] arnav-gudibande commented on #43
@rigoorozco I'm interested in implementing this feature and happy to help. What is the status of rh_broker and is it available anywhere yet?

[2018-01-21 03:58] rigoorozco commented on #43
It still needs some work. I have a fork on my account with the additions I’ve made. I'd love to get someone else's eyes on it

[2018-01-21 03:59] rigoorozco commented on #43
@arnav-gudibande all these changes use my fork of the Robinhood API

[2018-02-12 01:29] peterfabakker commented on #46
@kekkler did you progress with this at all?

[2018-02-12 01:33] peterfabakker opened #92 "Add symbol subscription for use in before-trading-start"
When one calls now data.current the ib_broker will subscribe to the data. This subscription process can take longer then a minute when you have several tickers and therefor the handle_data will not function properly. Can be solved by pre-subscribing to the data in before_trading_starts

[2018-02-14 04:00] peterfabakker commented on #92
=Done

[2018-02-14 08:23] peterfabakker commented on #82
can be closed?

[2018-02-19 08:30] peterfabakker opened #96 "When asking for last x minute data during trading, one gets ingested data, not recent data"
eg at 1pm ET, ask form the last 15 minutes of minute data of a ticker and you wont get it. You will get the last ingested data. Solution: when asking for minute data during  the day, a portion should be queried directly from IB

reqHistoricalData(
            tickerId,
            contract,
            (intdate.strftime('%Y%m%d %H:%M:%S') + ' GMT'),
            (duration),
            (barsize),

[2018-02-22 13:11] peterfabakker commented on #91
Thanks for this. I spend his week to align the master of zipline-live to the zipline master, so we can facilitate moving the risk work over. I looked at it and it seems more logical indeed, not very backward compatible

1) is best answered by @tibkiss as he was working on that part, but yes
2) Not actively
3) great, when will it be pulled in the master? (approx) so I can work with Tibor to seriali

[2018-02-23 06:39] llllllllll commented on #91
I am hoping to merge this into master by this weekend. The diff on that pr is currently at `+7,093 −5,828`, so I apologize in advance to whoever will be handling this merge. If you have any confusing conflicts, let me know and I can try to provide guidance.

The supported output is actually 100% compatible, and I have gone through great lengths to emulate the very organic and confusing structure o

[2018-03-02 21:03] ItachiUchiha91 opened #97 "Problem with data.current()"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Arch Linux 4.15.6-1-ARCH
* Python Version: Python 3.6.4
* Python Bitness: 64
* How did you install Zipline: pip
* Python packages:
aiodns==1.1.1
aiohttp==3.0.1
alembic==0.9.8
appdirs==1.4.3
async-timeout==2.0.0
attrdict==2.0.0
attrs==17.4.0
bcolz==0.12.1
beautifulsoup4==

[2018-03-03 00:36] githubbla commented on #87
So this is implemented already?

[2018-03-03 20:33] VitalyErmilov commented on #97
I was having the same message when I tried to run demo.py without data subscription. I did not try to use delayed data, I solved the problem by subscribing to real time date in ib account management section.

[2018-03-04 20:40] ItachiUchiha91 commented on #97
Thanks for the answer. So the demo account is not sufficient

[2018-03-04 21:17] VitalyErmilov opened #98 "Proposal to add an out of the box support of some premium pricing data set from quandl"
Dear Zipline Maintainers,

There is an open problem with WIKI prices dataset. The thing is that WIKI prices is not being updated for several days, the last pricing data there is for 28th of February, 2018.

I emailed the quandl's support and here is their answer:
"Thanks for bringing this to our attention.

Your email has been forwarded to our data team so that this can be added to their developme

[2018-03-05 10:37] alphaville76 commented on #42
As I wrote also on the Google Group, finally provides the Vendor of SF1 also a dataset with historical prices, included delisted companies:
https://www.quandl.com/databases/SEP

Using his SF1 and SEP Quandl databases is the lowest-cost solution for reliable backtesting data

[2018-03-07 20:46] alphaville76 commented on #98
One can take as basis the data ingestor for the ZEP quandl dataset:
https://github.com/pbharrin/alpha-compiler/blob/master/alphacompiler/data/loaders/zacks_quandl.py

The SEP prices dataset is not only cheaper but also compatible with the SF1 fundamentals dataset from the same data vendor.

[2018-03-10 07:05] umitanuki opened #99 "Potential event miss"
https://github.com/zipline-live/zipline/blob/master/zipline/gens/realtimeclock.py#L87

This module is using the local time but technically it can miss some events that happen once a day like market close, if one iteration takes so long and the next chance to check the local clock is beyond this boundary.

[2018-03-12 11:32] peterfabakker commented on #99
correct, in my head there are a few potential solutions:
1)  we kill processes that are running longer than a minute (Q solution)
2) we allow multiple events to be launched independently (execution I dont know)
3) we simply queue all events and have a separate process that checks whether they're are executed and if not we launch them after the tardy event....

more ideas?

[2018-03-12 17:19] umitanuki commented on #99
Good to know Q kills it if it hangs.  That sounds reasonable when it comes to Q who hosts bunch of algos.  In zipline-live, I think the assumption is that it's this developer's responsibility that it doesn't hang and should be ok to take as long as it needs.
I like 2. which should be simpler than 3. and anyway it is an event-driven system that doesn't guarantee necessarily time-correctness

[2018-03-12 20:47] alphaville76 commented on #98
I've just seen that @pbharrin implemented three days ago a loader for the SEP dataset:
https://github.com/pbharrin/alpha-compiler/blob/master/alphacompiler/data/loaders/sep_quandl.py
Very good, but there are some issues with the data as he pointed in his blog post:
http://alphacompiler.com/blog/9/

[2018-05-07 01:41] florentchandelier commented on #87
refer to #104

[2018-05-30 23:37] umitanuki opened #105 "`frequency` should be "daily" or "minute""
https://github.com/zipline-live/zipline/blob/39bd8e7473468b471e6ef2dfb681d20a5999e98f/zipline/gens/brokers/ib_broker.py#L949

[2018-05-31 10:07] peterfabakker commented on #97
correct demo account works slightly different

[2018-05-31 10:07] #97 closed

[2018-06-01 04:57] umitanuki commented on #105
It is actually correct. closing.

[2018-06-01 04:57] #105 closed

[2018-06-20 23:25] rcludwick opened #110 "Pipenv can't cleanly install zipline-live[ib] because of version conflicts with pandas"
# Description of Issue

Pandas-datareader wants pandas>19.2, but pandas is specfied >=18.1, <0.19.  This prevents pipenv from generating a pipfile.lock.

Probably the easiest fix is to remove the <0.19 specification on pandas, since pandas-datareader requires >19.2.

`$ pipenv install zipline-live[ib]
Could not find a version that matches pandas<0.19,>=0.16.1,>=0.18.1,>=0.19.2`

`$ pipenv graph
zi

[2018-07-31 17:19] HyperionSounds opened #114 "TWS datetime/pandas issue - Latest OSX and TWS"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Mac OS 10.13.6)
* Python Version: `3.6.3`

* How did you install Zipline: (`pip`)
* Python packages: `alembic==0.9.9
alpha-vantage==2.0.0
bcolz==0.12.1
Bottleneck==1.2.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
contextlib2==0.5.5
cycler==0.10.0
cyordereddict==1.0.0

[2018-08-01 08:57] peterfabakker opened #115 "attach_pipeline not allowed in before_trading_start while not being serialized"
When live trading with pipeline, the attach_pipeline function is forced to reside in Initialise, however the pipeline object is not serialised. If we allow attach_pipeline in before_trading_starts it would work

[2018-08-01 16:49] HyperionSounds commented on #114
After following the patch that fixes for ib data parsing [here](https://github.com/zipline-live/zipline/pull/112/commits/abebda90c491a5e116c3fb0d7f3f8e5647c40e94); it worked briefly, then breaks again with this:

Traceback (most recent call last):
  File "/Users/Derek/venv-zipline-live/bin/zipline", line 11, in <module>
    sys.exit(main())
  File "/Users/Derek/venv-zipline-live/lib/python3.6/site

[2018-08-16 17:30] HyperionSounds commented on #114
@stan4git thanks for the assistance stan, unfortunately the error persists..
I'm happy to submit a pull request once I can figure out how to fix this error. Has anyone else experienced the same issue?

ValueError: Error parsing datetime string "20180816  11:17:59" at position 9

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/

[2018-08-16 18:48] stan4git commented on #114
As I mentioned in another thread, there is already one pull request to fix this. https://github.com/zipline-live/zipline/pull/112
I has been running fine with below fix:

exec_time=pd.to_datetime(exec_detail.m_time, infer_datetime_format=True)

[2018-08-17 18:28] HyperionSounds commented on #114
Thanks @stan4git , but neither fix have worked for me. Unfortunately, I am still getting thrown an error with either fix you have suggested.

[2019-01-14 09:07] dongyi commented on #110
same issue here.
is the project dead?

[2019-01-21 23:53] Industrial opened #120 "Support CCXT broker"
Hi!

Currently, zipline-live only supports Interactive Brokers. With CCXT it would add support for all of crypto-land.

gr,

Tom

[2019-02-01 23:11] ofmachin3s opened #121 "zipline.errors.InvalidCalendarName: The requested TradingCalendar, XNYS, does not exist."
Hi, I am trying to run the demo after installing zipline-live using python2.7 in a virtualenv but cannot get past this issue.

$ zipline run -f ~/zipline-algos/demo.py --state-file ~/zipline-algos/demo.state --realtime-bar-target ~/zipline-algos/realtime-bars/ --broker ib --broker-uri localhost:4002:1232 --bundle quantopian-quandl --data-frequency minute

Server Version: 76
TWS Time at connection:

[2019-02-08 12:51] darksith666 opened #122 "Issue with zipline-live, errors occur when running zipline-live"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version 10)
* Python Version: `$ python --version 2.7`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`)
* Python packages: `$ pip freeze` or `$ conda list`
alabaster==0.7.12
al

[2019-02-13 01:28] HyperionSounds commented on #121
XNYS Calendar - This error cropped up overnight. Something along the lines of 'not a valid trading calendar'... If you get the message: "zipline.errors.InvalidCalendarName: The requested TradingCalendar, XNYS, does not exist.", you may need to correct a calendar scheduling error (XNYS), in which case open up calendar_utils.py Go to your calendar_utils.py (venv->lib->python3.6->site-packages->zipli

[2019-02-13 01:37] ofmachin3s commented on #121
I love you. Thank you.

[2019-02-13 18:04] #121 closed

[2019-02-26 15:27] cal97g commented on #120
CCXT isn't particularly consistent the last I checked, so it would be hard to guarantee support for all exchanges CCXT claims to support, though a good number are compliant.

[2019-04-07 11:17] jasonsears commented on #110
I ran into this same issue after resolving a panda-datareaders conflict for pandas.testing. I resolved both by first forcing the pandas-datareaders version and then the pandas version with these two commands:

pip install --upgrade pandas-datareader==0.6.0
pip install --upgrade pandas==0.18.1

Other than this slight hiccup, I've been able to get zipline to execute.

[2019-04-15 10:24] Industrial commented on #120
Is this project still alive?

[2019-04-17 01:08] smogili1 commented on #120
agree with cal97g, CCXT isn't consistent across different exchanges. Better to do the exchanges you need yourself.

[2019-04-28 17:59] joetut1010 commented on #122
I'm having similar issues... did you figure out a way to resolve this?

[2019-04-30 11:50] kyleaya commented on #122
I have the same problem too. Anyone can help?

[2019-08-14 05:25] tibkiss commented on #84
This turned out to be not stable in live environments. Closing.

[2019-08-14 05:25] #84 closed

[2019-10-31 01:12] FelixLahaie opened #123 "Installing zipline-live[ib] with the tutorial"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Ùbuntu 19.10 and ubuntu 18.04 LTS)
* Python Version: `$ python 3.7`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip` virtualenv)
* Python packages: `$ pip `

Now that you know a little

[2020-01-19 16:21] WillForan commented on #123
i think this is the same issue as #110

[2020-05-30 19:09] #120 closed